.food-item {
  width: 100%;
  margin: auto;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  animation: fadeIn 1s;
  cursor: pointer;
}

.food-item:hover {
  transform: scale(1.02);
}

.food-item-img-container {
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
}

.food-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  margin-top: 10px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating img{
width: 70px;
}

.food-item-desc {
  font-size: 14px;
  color: #666;
 
}

.food-item-price {
  font-weight: 500;
  color: #e63946;
  margin: 10px 0px;
  font-size: 22px;
}
.food-item-counter{
    width: 100px;
   position: relative;
   bottom: 35px;
    left: 140px;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.add{
    width: 35px;
    position: relative;
    bottom: 35px;
    left: 220px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter img{
    width: 30px;
}
