@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
}
body{
    min-height: 100vh;
    background-color: #fcfcfc;
}
a{
    text-decoration: none;
    color: inherit;
}

hr{
    border: none;
    height: 1px;
    background-color: #a9a9a9;
}
.app-content{
display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cursor{
    cursor: pointer;
}