.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 120px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.navbar-menu li:hover {
  color: dimgray;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.navbar-right input{
    width: 200px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #161616;
    font-family: poppins;
    font-size: 16px;
}


.icon {
  width: 28px;
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}


.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.navbar-right button {
  padding: 8px 18px;
  background: transparent;
  color: #49557e;
  border: 1px solid tomato;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.navbar-right button:hover {
  background: #fff4f2;
}

.navbar .active {
  padding-bottom: 5px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

@media (max-width:1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 80px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width:900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
    margin-left: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width:750px) {
  .navbar-menu {
    display: none;
  }
}