.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4%;
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar .profile {
    width: max(5%, 50px);
    border-radius: 70%;
}